# Accessing Data with Pandas

In [4]:
import pandas as pd

In [6]:
coffee = pd.read_csv('./coffee.csv')

display(coffee)

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [20]:
coffee.sample(10) #gives shattered data

          Day Coffee Type  Units Sold
10   Saturday    Espresso          45
7    Thursday       Latte          30
3     Tuesday       Latte          20
13     Sunday       Latte          35
9      Friday       Latte          35
6    Thursday    Espresso          40
12     Sunday    Espresso          45
4   Wednesday    Espresso          35
2     Tuesday    Espresso          30
11   Saturday       Latte          35

In [13]:
coffee.tail(6)

         Day Coffee Type  Units Sold
8     Friday    Espresso          45
9     Friday       Latte          35
10  Saturday    Espresso          45
11  Saturday       Latte          35
12    Sunday    Espresso          45
13    Sunday       Latte          35

In [15]:
coffee.head(6)

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35
5  Wednesday       Latte          25

In [23]:
coffee.loc[[0,1,2]]

       Day Coffee Type  Units Sold
0   Monday    Espresso          25
1   Monday       Latte          15
2  Tuesday    Espresso          30

In [25]:
coffee.loc[5:]

          Day Coffee Type  Units Sold
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [28]:
coffee.loc[5:, ["Day", "Units Sold"]]

          Day  Units Sold
5   Wednesday          25
6    Thursday          40
7    Thursday          30
8      Friday          45
9      Friday          35
10   Saturday          45
11   Saturday          35
12     Sunday          45
13     Sunday          35

In [33]:
coffee.iloc[0:5, [0,1]]

         Day Coffee Type
0     Monday    Espresso
1     Monday       Latte
2    Tuesday    Espresso
3    Tuesday       Latte
4  Wednesday    Espresso

In [37]:
coffee.loc[1, "Units Sold"] = 10

coffee.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          10
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [38]:
coffee.loc[4:9, "Units Sold"] = 10

coffee.head(14)

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          10
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          10
5   Wednesday       Latte          10
6    Thursday    Espresso          10
7    Thursday       Latte          10
8      Friday    Espresso          10
9      Friday       Latte          10
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [40]:
coffee.sort_values("Units Sold", ascending=False)

          Day Coffee Type  Units Sold
10   Saturday    Espresso          45
12     Sunday    Espresso          45
11   Saturday       Latte          35
13     Sunday       Latte          35
2     Tuesday    Espresso          30
0      Monday    Espresso          25
3     Tuesday       Latte          20
5   Wednesday       Latte          10
1      Monday       Latte          10
4   Wednesday    Espresso          10
9      Friday       Latte          10
8      Friday    Espresso          10
7    Thursday       Latte          10
6    Thursday    Espresso          10

In [41]:
coffee["Day"]

0        Monday
1        Monday
2       Tuesday
3       Tuesday
4     Wednesday
5     Wednesday
6      Thursday
7      Thursday
8        Friday
9        Friday
10     Saturday
11     Saturday
12       Sunday
13       Sunday
Name: Day, dtype: object

In [50]:
coffee.at[0,"Units Sold"]

np.int64(25)

In [52]:
coffee.iat[0,0]

'Monday'

In [53]:
coffee[('Units Sold')]

0     25
1     10
2     30
3     20
4     10
5     10
6     10
7     10
8     10
9     10
10    45
11    35
12    45
13    35
Name: Units Sold, dtype: int64

In [ ]:
coffee[("Units Sold")]

0     25
1     10
2     30
3     20
4     10
5     10
6     10
7     10
8     10
9     10
10    45
11    35
12    45
13    35
Name: Units Sold, dtype: int64